.sprites-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
}

.sprite-image {
    width: 200px;

    image-rendering: pixelated;
}

.sprites {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    flex-direction: row;
    flex-wrap: wrap;
}