.sprites-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 1050px;
    border-radius: inherit;
    padding: 25px 0;
}

.sprite-image {
    width: 200px;

    image-rendering: pixelated;
}

.sprites {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}