@import '../../../shared/colors.css';

.cardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
}

.pokemonPhoto img {
    width: 130px;
    height: 130px;
}

.pokemonType {
    width: 80px;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;

    background-color: var(--grass-green);

    color: var(--white);
    text-align: center;
    
    filter: brightness(0.9);
}
