.pokemon-stats-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    width: 455px;
    height: 200px;
    border-radius: 10px;
    padding: 5px 0;
}

.stat-wrapper {
    display: grid;
    grid-auto-columns: 190px auto 180px;
    grid-auto-flow: column;
    grid-template-rows: 1;

    width: 100%;
    
    color: var(--black);
}

.stat-title {
    grid-column-start: 0;
    grid-column-end: 1;

    padding-left: 20px;

    font-weight: bold;
}

.stat-line {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: start;
    align-self: center;
    display: inline-block;

    height: 8px;
    border-radius: 10px;
}

.stat-value {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: end;
    align-self: center;

    padding-right: 20px;
}