@import '../../shared/pokemonTypes.css';

.pokemon-content {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pokemon-trivia-container {
    max-width: 450px;
    padding: 30px;
}
