@import '../../shared/pokemonTypes.css';

.pokemon-content {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pokemon-content-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    gap: 20px;

    width: 100%;
}


.pokemon-content-lower {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 0;
}

.sprite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pokemon-trivia-container {
    max-width: 500px;
}
