@import '../../shared/styles/pokemonTypes.css';

.pokemon-content {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    padding: 20px;
}

.pokemon-content-upper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 20px;

    width: 100%;
}


.pokemon-content-lower {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 0;
}

.sprite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pokemon-trivia-container {
    max-width: 500px;
}

.pokemon-description-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.pokemon-description-select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.pokemon-description-select select {
    padding: 10px 0 10px 10px;
    border-radius: 5px;
}