.app-container {    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    min-height: 100vh;

    background-color: #E6E6E6;
}
  
.main-content {
    max-width: 1080px;
}

.main-content > a {
    text-decoration: none;
}

.pokedex-title {
    padding: 20px 0;
    
    color: var(--marine);
}