.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 275px;
    margin: 20px;
    border-radius: 15px;

    transition: filter .25s;
}

.card-container:hover {
    filter: brightness(1.1);
}

.card-container > a {
    text-decoration: none;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: var(--white);

    width: 275px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 85%;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
}

.pokemon-photo img {
    width: 130px;
    height: 130px;
}

.pokemon-type {
    width: 80px;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;

    color: var(--white);
    text-align: center;
    
    filter: brightness(0.9);
}
