:root {
    --white: #fff;
    --grass-green: #78C84F;
    --fire-red: #F08030;
    --water-blue: #6890F0;
    --electric-yellow: #F9D030;
    --normal-gray: #A7A877;
    --ghost-purple: #705998;
    --flying-purple: #A890F0;
    --poison-purple: #9F419F;
}