@import './colors.css';

.grass {
    background-color: var(--grass-green);
}

.fire {
    background-color: var(--fire-red);
}

.water {
    background-color: var(--water-blue);
}

.electric {
    background-color: var(--electric-yellow);
}

.normal {
    background-color: var(--normal-gray);
}

.ghost {
    background-color: var(--ghost-purple);
}

.flying {
    background-color: var(--flying-purple);
}

.poison {
    background-color: var(--poison-purple);
}