@import './colors.css';

.grass {
    background-color: var(--grass-green);
}

.fire {
    background-color: var(--fire-red);
}

.water {
    background-color: var(--water-blue);
}

.electric {
    background-color: var(--electric-yellow);
}

.normal {
    background-color: var(--normal-gray);
}

.ghost {
    background-color: var(--ghost-purple);
}

.grass-hover:hover {
    background-color: rgba(120, 200, 79, 0.6);
}

.fire-hover:hover {
    background-color: rgba(240, 128, 48, 0.4);
}

.water-hover:hover {
    background-color: rgba(104, 144, 240, 0.4);
}

.electric-hover:hover {
    background-color: rgba(249, 208, 48, 0.4);
}

.normal-hover:hover {
    background-color: rgba(167, 168, 119, 0.4);
}

.ghost-hover:hover {
    background-color: rgba(112, 89, 152, 0.4);
}