.pokemon-evolutions-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    margin: 0;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding: 10px 0;
}

.evolution-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width: 130px;
}

.evolution-wrapper > img {
    height: 80px;
}

.evolution-wrapper:hover {
    border-radius: 10px;
}

.evolution-wrapper {
    color: var(--black  );

    transition: background-color .3s, border-radius .2s;
}

.evolution-title {
    font-size: 17px;
    font-weight: bold;
}

.evolution-id {
    font-size: 12px;
    font-weight: 100;
}