@import 'shared/styles/colors.css';

.preview-card {
    width: 150px;
    height: 225px;
    margin: 20px;
    border-radius: 10px;

    background-color: var(--marine);

    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-card:hover {
    filter: brightness(1.1);
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: var(--white);
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 15px;

    color: var(--white);
}

.card-header > h4 {
    margin: 0;
}

.card-header > h3 {
    margin: 0;
}

.pokemon-photo img {
    width: 100px;
    height: 100px;
    image-rendering: pixelated;
}
