.App {    
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100vw;
  min-height: 100vh;

  background-color: #FFF7E8;
}

.appContainer {
  width: 1080px;
}

.appHeader {
  margin-left: 30px;
}

.pokemonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  padding: 20px;
}